<div >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">TechBuy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Computadores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Notebooks</a>
                </li>
                <li class="nav-item dropdown">
                    <a onmouseover="mouseUpDropDownHardware()" onmouseout="mouseDownDropDownHardware()" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Hardware
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Placa-Mãe</a>
                      <a class="dropdown-item" href="#">Processsador</a>
                      <a class="dropdown-item" href="#">Memória</a>
                      <a class="dropdown-item" href="#">Placa de Vídeo</a>
                      <a class="dropdown-item" href="#">Discos</a>
                      <a class="dropdown-item" href="#">Monitores</a>
                      <a class="dropdown-item" href="#">Periféricos</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Outros</a>
                    </div>
                  </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
                <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                <button type="button" class="btn btn-transparent">
                    <i class="fas fa-shopping-cart" id="icon-cart-navbar"></i>
                </button>
            </form>
        </div>
    </nav>

    <!--<div>
        <div class="row">
            <div class="col-md-2">
                <div class="bg-light border-right" id="sidebar-wrapper">
                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
                        <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
                        <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
                        <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
                        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
                        <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                teste
            </div>
        </div>
    </div>-->
</div>

<script>
    
</script>