<footer class="blockquote-footer fixed-bottom p-5">
    <hr>
    <p>
        &nbsp;
        <a href="#">
            <i class="fab fa-instagram icons-redes-sociais"></i>
        </a>
        &nbsp;
        <a href="#">
            <i class="fab fa-facebook-square icons-redes-sociais"></i>
        </a>
    </p>
    
    <p class="text-justify p-rodape">
        &nbsp;<i class="fas fa-map-marker-alt"></i>&nbsp;Rua Arthur Milani, 750, Frederico Westphalen-RS.
    </p>
    <hr>
    <p class="text-center">
        &copy; 2020, TechBuy. Todos os Direitos Reservados.
    </p>
</footer>
